@import "tailwindcss";

@theme {
  --color-background: #050816;
  --color-secondary: #aaa6c3;
  --color-tertiary: #151030;
}
html {
  font-family: system-ui, sans-serif;
}
code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
