---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.tsx';
import About from '../components/About.astro';
import Tech from '../components/Tech';
import Contact from '../components/Contact.tsx';
---

<Layout title="Portfolio">
  <main class="relative z-0 bg-neutral-900">
    <Hero client:load />
    <About  />
    <Tech client:load />
    <Contact client:load />
  </main>
</Layout>